{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7", "edge >= 14"]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "ignore": [
    "dist/**/*.js"
  ],
  "comments": false
}
