{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "modules": "amd"
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "ignore": [
    "dist/**/*.js",
    "**/*.test.js",
    "**/__mocks__"
  ],
  "comments": false
}
