{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7",
            "edge >= 14"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "ignore": [
    "dist/**/*.js",
    "**/*.test.js",
    "**/__mocks__"
  ],
  "comments": false
}
